/* Text meant only for screen readers. */
.screen-reader-text {
	position: absolute;

	height: 1px;
	width: 1px;

	padding: 0;
	margin: -1px;

	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);

	overflow: hidden;
	word-wrap: normal; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		display: block;

		height: auto;
		width: auto;

		margin: 0;
		padding: 15px 20px;

		top: 5px;
		left: 5px;
		z-index: 100000;

		background-color: white;

		border: 3px solid rgb(0, 205, 255);
		border-radius: 5px;

		box-shadow: 0 0 10px 0 #00cdff;

		clip: auto;
		clip-path: none;

		font-size: 1em;
		font-weight: bold;
		color: black;

		text-decoration: none;
		line-height: normal;

		outline-color: black;
		outline-style: dotted;
		outline-offset: -5px;
		outline-width: initial;

		overflow: visible;
	}
}
