# IGNORE
## Ignore every root files
/*
## My personnal notes
_src/readme.md
*.txt

# EXCEPT
## Sources files
!/_src
!/.gitattributes
!/.gitignore
!/gulpfile.js
!/LICENSE.md
!/NOTICE.md
!/CHANGELOG.md
!/package-lock.json
!/package.json
!/README.md
!/screenshot.png
